In [98]:
import pandas as pd
import numpy as np

In [99]:
schools = pd.read_csv("Resources/schools_complete.csv")

In [100]:
students = pd.read_csv("Resources/students_complete.csv")

In [101]:
#renames for merge
schools.rename(columns = {'school_name': 'school'}, inplace = True)
students.rename(columns = {'school_name': 'school'}, inplace = True)

merged_df = students.merge(schools, how = 'left', on = 'school')
merged_df.head()

,Student ID,student_name,gender,grade,school,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [102]:
#create array of unique school names
all_school_names = schools['school'].unique()
all_school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [103]:
#gives the length of unique school names to give us how many schools
school_count = len(all_school_names)
school_count

15

In [104]:
#district student count
dist_student_count = schools['size'].sum()
dist_student_count

39170

In [105]:
#student count from student file
total_student_rec = students['student_name'].count()
total_student_rec

39170

In [106]:
#total budget
total_budget = schools['budget'].sum()
total_budget

24649428

In [107]:
#total and percent passing reading
total_pass_read = students.loc[students['reading_score'] >= 70]['reading_score'].count()
perc_pass_read = total_pass_read/total_student_rec
print('Total Passing Reading:', total_pass_read, 'Percent Passing Reading:', perc_pass_read)

Total Passing Reading: 33610 Percent Passing Reading: 0.8580546336482001

In [108]:
# total and % passing math
total_pass_math = students.loc[students['math_score'] >= 70]['math_score'].count()
perc_pass_math = total_pass_math/total_student_rec
print(total_pass_math, perc_pass_math)

29370 0.749808526933878

In [109]:
#average math score 
avg_math_score = students['math_score'].mean()
#average reading score calculation
avg_reading_score = students['reading_score'].mean()
print(avg_math_score, avg_reading_score)

78.98537145774827 81.87784018381414

In [110]:
#Overall Passing Rate 
overall_pass = students[(students['math_score'] >= 70) & (students['reading_score'] >= 70)]['student_name'].count()/total_student_rec
overall_pass

0.6517232575950983

In [111]:
# district dataframe from dictionary

district_summary = pd.DataFrame({
    
    "Total Schools": [school_count],
    "Total Students": [dist_student_count],
    "Total Budget": [total_budget],
    "Average Reading Score": [avg_reading_score],
    "Average Math Score": [avg_math_score],
    "% Passing Reading":[perc_pass_read],
    "% Passing Math": [perc_pass_math],
    "Overall Passing Rate": [overall_pass]

})

In [112]:
#store as different df to change order
dist_sum = district_summary[["Total Schools", 
                             "Total Students", 
                             "Total Budget", 
                             "Average Reading Score", 
                             "Average Math Score", 
                             '% Passing Reading', 
                             '% Passing Math', 
                             'Overall Passing Rate']]

In [113]:
#format cells
dist_sum.style.format({"Total Budget": "${:,.2f}", 
                       "Average Reading Score": "{:.1f}", 
                       "Average Math Score": "{:.1f}", 
                       "% Passing Math": "{:.1%}", 
                       "% Passing Reading": "{:.1%}", 
                       "Overall Passing Rate": "{:.1%}"})

In [139]:
#groups by school
by_school = merged_df.set_index('school').groupby(['school'])
by_school.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget,spending_bins,size_bins
school,,,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635,> $644,Large (>2000)
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635,> $644,Large (>2000)
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635,> $644,Large (>2000)
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635,> $644,Large (>2000)
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635,> $644,Large (>2000)
Figueroa High School,2917,Amy Jacobs,F,10th,85,87,1,District,2949,1884411,$615 - 644,Large (>2000)
Figueroa High School,2918,Nathan Campbell,M,12th,97,84,1,District,2949,1884411,$615 - 644,Large (>2000)
Figueroa High School,2919,Randall Stewart,M,12th,67,77,1,District,2949,1884411,$615 - 644,Large (>2000)
Figueroa High School,2920,Jennifer Brown,F,9th,97,64,1,District,2949,1884411,$615 - 644,Large (>2000)
Figueroa High School,2921,Denise Lopez,F,10th,79,64,1,District,2949,1884411,$615 - 644,Large (>2000)
Shelton High School,5866,Jamie Montgomery,F,12th,70,91,2,Charter,1761,1056600,$585 - 614,Medium (1000-2000)
Shelton High School,5867,Shannon Phillips,F,10th,84,71,2,Charter,1761,1056600,$585 - 614,Medium (1000-2000)
Shelton High School,5868,Todd Barber,M,11th,95,99,2,Charter,1761,1056600,$585 - 614,Medium (1000-2000)
Shelton High School,5869,Desiree King,F,12th,76,95,2,Charter,1761,1056600,$585 - 614,Medium (1000-2000)
Shelton High School,5870,Melissa Roberts,F,10th,71,82,2,Charter,1761,1056600,$585 - 614,Medium (1000-2000)
Hernandez High School,7627,Russell Davis,M,10th,70,88,3,District,4635,3022020,> $644,Large (>2000)
Hernandez High School,7628,Timothy Walker,M,12th,97,93,3,District,4635,3022020,> $644,Large (>2000)
Hernandez High School,7629,Katie Johnston,F,12th,83,81,3,District,4635,3022020,> $644,Large (>2000)
Hernandez High School,7630,Joann Oconnell,F,12th,77,91,3,District,4635,3022020,> $644,Large (>2000)
Hernandez High School,7631,Sarah Alexander,F,10th,84,93,3,District,4635,3022020,> $644,Large (>2000)
Griffin High School,12262,Heather Wright,F,11th,79,68,4,Charter,1468,917500,$615 - 644,Medium (1000-2000)
Griffin High School,12263,Elizabeth Goodwin,F,10th,91,81,4,Charter,1468,917500,$615 - 644,Medium (1000-2000)
Griffin High School,12264,Michelle Wong,F,9th,78,89,4,Charter,1468,917500,$615 - 644,Medium (1000-2000)
Griffin High School,12265,Scott Roth MD,M,11th,91,85,4,Charter,1468,917500,$615 - 644,Medium (1000-2000)
Griffin High School,12266,Billy Wilson,M,12th,76,83,4,Charter,1468,917500,$615 - 644,Medium (1000-2000)
Wilson High School,13730,Kelli Anderson,F,10th,84,71,5,Charter,2283,1319574,< $585,Large (>2000)
Wilson High School,13731,Russell Ramirez,M,10th,72,87,5,Charter,2283,1319574,< $585,Large (>2000)
Wilson High School,13732,Eric Butler,M,10th,97,82,5,Charter,2283,1319574,< $585,Large (>2000)
Wilson High School,13733,Warren Kerr,M,11th,93,68,5,Charter,2283,1319574,< $585,Large (>2000)
Wilson High School,13734,Gail Hall,F,9th,79,72,5,Charter,2283,1319574,< $585,Large (>2000)
...,...,...,...,...,...,...,...,...,...,...,...,...
Pena High School,23274,Alec Davis,M,9th,91,75,9,Charter,962,585858,$585 - 614,Small (<1000)
Pena High School,23275,Michael Meyer,M,10th,94,76,9,Charter,962,585858,$585 - 614,Small (<1000)
Pena High School,23276,Donald Gutierrez,M,11th,98,91,9,Charter,962,585858,$585 - 614,Small (<1000)
Pena High School,23277,Travis Chavez,M,11th,78,71,9,Charter,962,585858,$585 - 614,Small (<1000)
Pena High School,23278,Sheena Ball,F,12th,87,92,9,Charter,962,585858,$585 - 614,Small (<1000)
Wright High School,24236,Aaron Johnson,M,10th,89,72,10,Charter,1800,1049400,< $585,Medium (1000-2000)
Wright High School,24237,Kimberly Hamilton,F,10th,84,93,10,Charter,1800,1049400,< $585,Medium (1000-2000)
Wright High School,24238,Ashley Johns,F,10th,88,88,10,Charter,1800,1049400,< $585,Medium (1000-2000)
Wright High School,24239,Stephanie Donovan,F,10th,75,84,10,Charter,1800,1049400,< $585,Medium (1000-2000)
Wright High School,24240,Cynthia Guzman,F,11th,93,82,10,Charter,1800,1049400,< $585,Medium (1000-2000)
Rodriguez High School,26036,Sherry Jenkins,F,11th,74,81,11,District,3999,2547363,$615 - 644,Large (>2000)
Rodriguez High School,26037,Kimberly Calderon,F,10th,80,86,11,District,3999,2547363,$615 - 644,Large (>2000)
Rodriguez High School,26038,William Brady,M,11th,97,62,11,District,3999,2547363,$615 - 644,Large (>2000)
Rodriguez High School,26039,Jacob Padilla,M,11th,79,73,11,District,3999,2547363,$615 - 644,Large (>2000)
Rodriguez High School,26040,Paula Maldonado,F,10th,96,92,11,District,3999,2547363,$615 - 644,Large (>2000)
Johnson High School,30035,Lisa Casey,F,12th,87,87,12,District,4761,3094650,> $644,Large (>2000)
Johnson High School,30036,Jessica Lopez,F,9th,98,62,12,District,4761,3094650,> $644,Large (>2000)
Johnson High School,30037,Anna Wilkins,F,11th,89,77,12,District,4761,3094650,> $644,Large (>2000)
Johnson High School,30038,Andrew Smith,M,9th,66,85,12,District,4761,3094650,> $644,Large (>2000)
Johnson High School,30039,Robert Allison,M,11th,63,85,12,District,4761,3094650,> $644,Large (>2000)
Ford High School,34796,Michael Mercado,M,9th,66,94,13,District,2739,1763916,$615 - 644,Large (>2000)
Ford High School,34797,Stephen Wolf,M,11th,68,63,13,District,2739,1763916,$615 - 644,Large (>2000)
Ford High School,34798,Bonnie Hughes,F,12th,73,59,13,District,2739,1763916,$615 - 644,Large (>2000)
Ford High School,34799,Melissa Smith,F,11th,88,58,13,District,2739,1763916,$615 - 644,Large (>2000)
Ford High School,34800,Brian Mitchell,M,10th,96,55,13,District,2739,1763916,$615 - 644,Large (>2000)
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130,$615 - 644,Medium (1000-2000)
Thomas High School,37536,Cody Miller,M,11th,84,82,14,Charter,1635,1043130,$615 - 644,Medium (1000-2000)
Thomas High School,37537,Erik Snyder,M,9th,80,90,14,Charter,1635,1043130,$615 - 644,Medium (1000-2000)
Thomas High School,37538,Tanya Martinez,F,9th,71,69,14,Charter,1635,1043130,$615 - 644,Medium (1000-2000)
Thomas High School,37539,Noah Erickson,M,9th,86,76,14,Charter,1635,1043130,$615 - 644,Medium (1000-2000)

In [115]:
#school types
sch_types = schools.set_index('school')['type']

In [116]:
# total students by school
stu_per_sch = by_school['Student ID'].count()

In [117]:
# school budget
sch_budget = schools.set_index('school')['budget']

In [118]:
#per student budget
stu_budget = schools.set_index('school')['budget']/schools.set_index('school')['size']
stu_budget

school
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [119]:
#avg scores by school
avg_math = by_school['math_score'].mean()
avg_read = by_school['reading_score'].mean()
print(avg_math, avg_read)

school
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64 school
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [120]:
# % passing scores
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('school')['Student ID'].count()/stu_per_sch 
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('school')['Student ID'].count()/stu_per_sch

In [121]:
overall = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('school')['Student ID'].count()/stu_per_sch

In [122]:
sch_summary = pd.DataFrame({
    "School Type": sch_types,
    "Total Students": stu_per_sch,
    "Per Student Budget": stu_budget,
    "Total School Budget": sch_budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
})
sch_summary.head()

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,628.0,3124928,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,582.0,1081356,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,639.0,1884411,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,644.0,1763916,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,625.0,917500,83.351499,83.816757,0.933924,0.971390,0.905995

In [123]:
#munging
sch_summary = sch_summary[['School Type', 
                          'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget', 
                          'Average Math Score', 
                          'Average Reading Score',
                          '% Passing Math',
                          '% Passing Reading',
                          'Overall Passing Rate']]
sch_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995

In [124]:
#formatting
sch_summary.style.format({'Total Students': '{:,}', 
                          "Total School Budget": "${:,}", 
                          "Per Student Budget": "${:.0f}",
                          'Average Math Score': "{:.1f}", 
                          'Average Reading Score': "{:.1f}", 
                          "% Passing Math": "{:.1%}", 
                          "% Passing Reading": "{:.1%}", 
                          "Overall Passing Rate": "{:.1%}"})

In [125]:
#Top performing schools by passing rate
# sort values by passing rate and then only print top 5 
top_5 = sch_summary.sort_values("Overall Passing Rate", ascending = False)
top_5.head().style.format({'Total Students': '{:,}',
                           "Total School Budget": "${:,}", 
                           "Per Student Budget": "${:.0f}", 
                           "% Passing Math": "{:.1%}", 
                           "% Passing Reading": "{:.1%}", 
                           "Overall Passing Rate": "{:.1%}"})

In [126]:
#Bottom five school by passing rate, worse to best
#take tail of top5 sort and re-sort from worst to best
bottom_5 = top_5.tail()
bottom_5 = bottom_5.sort_values('Overall Passing Rate')
bottom_5.style.format({'Total Students': '{:,}', 
                       "Total School Budget": "${:,}", 
                       "Per Student Budget": "${:.0f}", 
                       "% Passing Math": "{:.1%}", 
                       "% Passing Reading": "{:.1%}", 
                       "Overall Passing Rate": "{:.1%}"})

In [127]:
#creates grade level average math scores for each school 
ninth_math = students.loc[students['grade'] == '9th'].groupby('school')["math_score"].mean()
tenth_math = students.loc[students['grade'] == '10th'].groupby('school')["math_score"].mean()
eleventh_math = students.loc[students['grade'] == '11th'].groupby('school')["math_score"].mean()
twelfth_math = students.loc[students['grade'] == '12th'].groupby('school')["math_score"].mean()

math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School"

In [128]:
math_scores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

In [129]:
#Reading Scores by grade
#creates grade level average reading scores for each school
ninth_reading = students.loc[students['grade'] == '9th'].groupby('school')["reading_score"].mean()
tenth_reading = students.loc[students['grade'] == '10th'].groupby('school')["reading_score"].mean()
eleventh_reading = students.loc[students['grade'] == '11th'].groupby('school')["reading_score"].mean()
twelfth_reading = students.loc[students['grade'] == '12th'].groupby('school')["reading_score"].mean()

#merges the reading score averages by school and grade together
reading_scores = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading
})
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "School"

#format
reading_scores.style.format({'9th': '{:.1f}', 
                             "10th": '{:.1f}', 
                             "11th": "{:.1f}", 
                             "12th": "{:.1f}"})

In [130]:
#Scores by school spending
# create spending bins
bins = [0, 584.999, 614.999, 644.999, 999999]
group_name = ['< $585', "$585 - 614", "$615 - 644", "> $644"]
merged_df['spending_bins'] = pd.cut(merged_df['budget']/merged_df['size'], bins, labels = group_name)

#group by spending
by_spending = merged_df.groupby('spending_bins')

#calculations
avg_math = by_spending['math_score'].mean()
avg_read = by_spending['reading_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
overall = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()

In [131]:
# df build            
scores_by_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})

In [132]:
#reorder columns
scores_by_spend = scores_by_spend[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

scores_by_spend.index.name = "Per Student Budget"
scores_by_spend = scores_by_spend.reindex(group_name)

In [133]:
#formating
scores_by_spend.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

In [134]:
#Scores by school size
# create size bins
bins = [0, 999, 1999, 99999999999]
group_name = ["Small (<1000)", "Medium (1000-2000)" , "Large (>2000)"]
merged_df['size_bins'] = pd.cut(merged_df['size'], bins, labels = group_name)

#group by spending
by_size = merged_df.groupby('size_bins')

In [135]:
#calculations 
avg_math = by_size['math_score'].mean()
avg_read = by_size['math_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
overall = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()

In [136]:
# df build            
scores_by_size = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})

In [137]:
#reorder columns
scores_by_size = scores_by_size[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

scores_by_size.index.name = "Total Students"
scores_by_size = scores_by_size.reindex(group_name)

#formating
scores_by_size.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

In [138]:
# group by type of school
by_type = merged_df.groupby("type")

#calculations 
avg_math = by_type['math_score'].mean()
avg_read = by_type['math_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
overall = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('type')['Student ID'].count()/by_type['Student ID'].count()

# df build            
scores_by_type = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall})
    
#reorder columns
scores_by_type = scores_by_type[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]
scores_by_type.index.name = "Type of School"


#formating
scores_by_type.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})